<!DOCTYPE html>
<html lang="utf-8">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
		<meta name="keywords" content="">
		<meta name="description" content="">
		<title>Mooc Online - 免费编程教育</title>
		
		<link href="/static/res/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<link href="/static/res/css/reset.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/common.css">
        <link rel="stylesheet" type="text/css" href="/static/css/index.css">
        <link rel="stylesheet" href="/static/css/style/common.css" />

	    <link rel="stylesheet" type="text/css" href="/static/css/muke/course/course-comment.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/muke/base.css">
        <link rel="stylesheet" type="text/css" href="/static/css/muke/course/common-less.css">

        <script type="text/javascript" src="/static/js/index.js"></script>
		<script type="text/javascript" src="/static/res/js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="/static/res/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/deco-common.js"></script>
		
		<!--[if lt IE 9]>
		  <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		
		<link rel="icon" type="image/png" href="/static/res/i/ico.png" sizes="16x16">
		<script type="text/javascript">
		CONETXT_PATH = '';
		</script>
	</head>
<style>

.header{
	height: 80px;
    background: #fff;
	box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.2);
	position: relative;
	z-index: 10;
    width: 100%;
	max-width: 100%;
	margin-bottom: 50px;
}

.div-left{
    float: left;
}

.chapter {
	padding: 10px 10px 20px 10px;
	border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}
.header-wrap{
	width: 1250px;
	margin: 0 auto;
}
</style>
	<body>
		<!-- header菜单栏 -->
	<div class="header header-white">
        <div class="header-wrap">
		<a class="home" href="{% url 'index' %}" title="Mooc Online">
			<img src="/static/img/logo_196x106.png" alt="">
		</a>
		<ul class="menu">
			<li class="item"><a href="{% url 'course:course_list' %}">免费课程</a></li>
			<li class="item"><a href="{% url 'users:user_info' %}">我的</a></li>
			<li class="item"><a href="{% url 'users:discovery' %}">发现</a></li>
		</ul>
		<div class="search-area">
			<input class="search-input" type="text">
			<div class="search-btn"><i class="icon icon-search">&#xe63d;</i></div>
		</div>
            </div>
	</div>
		<script type="text/javascript">
			function login(){
				$('#loginTitle').css('color','#337Ab7');
				$('#loginForm').show();
				$('#registeTitle').css('color','#000');
				$('#registeForm').hide();
			}
			function registe(){
				$('#loginTitle').css('color','#000');
				$('#loginForm').hide();
				$('#registeTitle').css('color','#337Ab7');
				$('#registeForm').show();
			}
			$(function(){
				$("#userdetail").popover({
		            trigger:'manual',
		            placement : 'bottom',
		            html: 'true',
		            content : '<div style="width:300px;height:300px;"></div>',
		            animation: false
		        }).on("mouseenter", function () {
		            var _this = this;
		            $(this).popover("show");
		            $(this).siblings(".popover").on("mouseleave", function () {
		                $(_this).popover('hide');
		            });
		        }).on("mouseleave", function () {
		            var _this = this;
		            setTimeout(function () {
		                if (!$(".popover:hover").length) {
		                    $(_this).popover("hide")
		                }
		            }, 0);
		        });
				//课程分类展示 
				$(".category").popover({
		            trigger:'manual',
		            placement : 'right',
		            html: 'true',
		            content : '',
		            animation: false
		        }).on("mouseenter", function () {
		            var cid = $(this).attr('c-id');
		            $('#' + cid).show();
		            $('#' + cid).hover(function(){
		            	$('#' + cid).show();
		            },function(){
		            	$('#' + cid).hide();
					});
		        }).on("mouseleave", function () {
		            var cid = $(this).attr('c-id');
		            $('#' + cid).hide();
		        });
			});
		</script>
		<!-- 头部-end -->
		
		<!-- 登录注册-start -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog"  style="position:fixed; top:30%;">
		    <div class="modal-dialog" role="document">
		        <div class="modal-content">
		        
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		                    <span aria-hidden="true" style="font-size:18px;">×</span>
		                </button>
		                <h4 class="modal-title"  id="loginTitle"  style="float: left; color: #337Ab7;cursor: pointer; " onclick="login();">登 录</h4>
		                <h4 class="modal-title"  id="registeTitle"  style="float: left;margin-left: 20px;cursor: pointer;" onclick="registe();">注 册</h4>
		                <div class="clearfix"></div>
		            </div>
		            
		            <div class="modal-body">
		               	<form id="loginForm" class="form-horizontal" style="padding: 0px 20px;">
		                      <div class="form-group">
		                          <input type="email" class="form-control"  id="username"  placeholder="用户名">
		                      </div>
		                      <div class="form-group help">
		                          <input type="password" class="form-control"  id="password"  placeholder="密　码">
		                      </div>
		                      <div class="form-group">
		                          <label>
		                           <input type="checkbox" value="None" id="checkbox1" name="check">
		                           <span class="text" style="color: #787D82;font-size: 14px;">下次自动登录</span>
		                          </label>
		                      </div>
		                      
		                      <a href="javascript:void(0)">
		                      	<div class="header-login-btn">登 录</div>
		                      </a>
		                  </form>
		                  
		                   <form id="registeForm" class="form-horizontal" style="padding: 0px 20px;display: none;">
		                       <div class="form-group">
		                           <input type="email" class="form-control"  id="username"  placeholder="用户名">
		                       </div>
		                       <div class="form-group help">
		                           <input type="password" class="form-control"  id="password"  placeholder="密　码">
		                       </div>
		                       <a href="javascript:void(0)">
		                      	<div class="header-login-btn">注 册</div>
		                       </a>
		                   </form>
		                  
		            </div>
					
		        </div>
		    </div>
		</div>
		<!-- 登录注册-end -->

		<div class="f-main clearfix">
			<div class="main-course-left">
					<div class="course-info">
						<div class="course-title" style="font-size: 24px;">{{ video.name }}</div>
						
						<div class="course-video">
							<video src="{{ MEDIA_URL }}{{ video.video_file }}" width="100%" height="100%" controls preload></video>
						</div>
						
						<div class="course-menu">
							<a  href="{% url 'course:video_play' video.id %}"><span class="menu-item  cur">讨论区</span></a>
                            <a  href="{% url 'course:course_note' video.id %}"><span class="menu-item">手记</span></a>
						</div>
				</div>

                <!--发布评论-->
                    <div id="js-pub-container" class="issques clearfix js-form">
                        <div class="wgt-ipt-wrap pub-editor-wrap " id="js-pl-input-fake">
                            <textarea id="js-pl-textarea" class="" placeholder="请写下你在学习本章节遇到的问题或疑惑" ></textarea>
                        </div>
                        <input type="button" id="js-pl-submit" class="pub-btn" data-cid="452" value="发布问题">
                        <p class="global-errortip js-global-error"></p>
                    </div>

				<!-- 评论-start -->
				<div>
                     {% for user_comments in all_comments %}
						<div class="comment clearfix">
							<div class="comment-header"><img class="lecturer-uimg" src="{{ MEDIA_URL }}{{ user_comments.user.image }}"></div>
							<div class="comment-main">
								<div class="user-name">{{ user_comments.user.username }}</div>
								<div class="comment-content">{{ user_comments.comments }}</div>
								<div class="comment-footer">
									<span>时间：{{ user_comments.add_time }} </span>
									<a href="">{{ video.name }}</a>
								</div>
							</div>
						</div>
                    {% endfor %}
				</div>
				

				
				<!-- 评论-end -->
			</div>
			
			<!-- 章节-start -->
			<div class="main-course-right"  >
				<h4 class="mt-50"></h4>
				<div class="video-course-fix-parent">
					<div class="video-course-fix">

                        {% for lession in course.get_course_lesson %}
                            <div class="chapter" style="padding: 0px ;border: none;">

                                <a href="javascript:void(0);" class="js-open">
                                    <h3>
                                        <strong class="div-left">{{ lession.name }}</strong>
                                        <span class="drop-down">▼</span>
                                    </h3>
                                </a>
                                <ul class="chapter-sub" style="padding-left:10px;">
                                    {% for video in lession.get_lesson_video %}
                                        <a href="{% url 'courses:video_play' video.id %}" >
                                            <li class="ellipsis video-li"><i class="icon-video">▶</i> {{ video.name }} ({{ video.learn_times }}:00)</li>
                                        </a>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
					</div>
				</div>
			</div>
			<!-- 章节-end -->
		</div>
		
		<!-- 页脚-start -->
		<div class="f-footer">
			<div class="f-footer-box clearfix">
				<div class="footer-link">
					<a href="javascript:void(0);" target="_blank" title="联系我们">联系我们</a>
					<a href="javascript:void(0);" target="_blank" title="常见问题">常见问题</a>
					<a href="javascript:void(0);" target="_blank" title="意见反馈">意见反馈</a>
					<a href="javascript:void(0);" target="_blank" title="友情链接">友情链接</a>
				</div>
				<div class="footer-copyright">
					<span>©&nbsp;2019&nbsp; silentlight.tk </span>
				</div>
			</div>
		</div>
		<!-- 页脚-end-->
		
		<script type="text/javascript">
			$(function(){
				$('.chapter li').hover(function(){
					$(this).find('.icon-video').css('color','#0089D2');
				},function(){
					$(this).find('.icon-video').css('color','#777');
				});
				
				$('.js-open').click(function(){
					var display = $(this).parent().find('ul').css('display');
					if(display == 'none'){
						$(this).parent().find('ul').css('display','block');
						$(this).find('.drop-down').html('▼');
					}else{
						$(this).parent().find('ul').css('display','none');
						$(this).find('.drop-down').html('▲');
					}
				});
			});	
		</script>

    <script type="text/javascript">
    //添加评论
    $('#js-pl-submit').on('click', function(){
        var comments = $("#js-pl-textarea").val()
        if(comments == ""){
            alert("评论不能为空")
            return
        }
        $.ajax({
            cache: false,
            type: "POST",
            url:"{% url 'course:add_comment' %}",
            data:{'course_id':{{ course.id }}, 'video_id':{{ video.id }}, 'comments':comments},
            async: true,
            beforeSend:function(xhr, settings){
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            success: function(data) {
                if(data.status == 'fail'){
                    if(data.msg == '用户未登录'){
                        window.location.href="/login/";
                    }else{
                        alert(data.msg)
                    }

                }else if(data.status == 'success'){
                    $("#js-pl-textarea").val("");//清空文本框
                    window.location.reload();//刷新当前页面.
                }
            },
        });
    });

</script>
		
	</body>
	
</html>
