<!DOCTYPE html>
<html lang="utf-8">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
		<meta name="keywords" content="">
		<meta name="description" content="">
		<title>Mooc Online - 免费编程教育</title>
		
		<link href="/static/res/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<link href="/static/res/css/reset.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/common.css">
        <link rel="stylesheet" type="text/css" href="/static/css/index.css">
        <link rel="stylesheet" href="/static/css/style/common.css" />





        <link rel="stylesheet" type="text/css" href="/static/css/muke/course/common-less.css">

        <script type="text/javascript" src="/static/js/index.js"></script>
		<script type="text/javascript" src="/static/res/js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="/static/res/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/deco-common.js"></script>
		
		<!--[if lt IE 9]>
		  <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		
		<link rel="icon" type="image/png" href="/static/res/i/ico.png" sizes="16x16">
		<script type="text/javascript">
		CONETXT_PATH = '';
		</script>
	</head>

    <style>
    .header{
        height: 80px;
        background: #fff;
        box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.2);
        position: relative;
        z-index: 10;
        width: 100%;
        max-width: 100%;
        margin-bottom: 50px;
    }
    .header-wrap{
	width: 1250px;
	margin: 0 auto;
}
    .div-left{
        float: left;
    }

    .mt-50{margin-top: 50px;margin-bottom:15px;}
    .chapter {
        padding: 10px 10px 20px 10px;
        border-bottom: 1px solid #eee;
        margin-bottom: 20px;
    }
    </style>
	<body>
		<!-- header菜单栏 -->
	<div class="header header-white">
        <div class="header-wrap">
		<a class="home" href="{% url 'index' %}" title="Mooc Online">
			<img src="/static/img/logo_196x106.png" alt="">
		</a>
		<ul class="menu">
			<li class="item"><a href="{% url 'course:course_list' %}">免费课程</a></li>
			<li class="item"><a href="{% url 'users:user_info' %}">我的</a></li>
			<li class="item"><a href="{% url 'users:discovery' %}">发现</a></li>
		</ul>
		<div class="search-area">
			<input class="search-input" type="text">
			<div class="search-btn"><i class="icon icon-search">&#xe63d;</i></div>
		</div>
            </div>
	</div>
		<script type="text/javascript">
			function login(){
				$('#loginTitle').css('color','#337Ab7');
				$('#loginForm').show();
				$('#registeTitle').css('color','#000');
				$('#registeForm').hide();
			}
			function registe(){
				$('#loginTitle').css('color','#000');
				$('#loginForm').hide();
				$('#registeTitle').css('color','#337Ab7');
				$('#registeForm').show();
			}
			$(function(){
				$("#userdetail").popover({
		            trigger:'manual',
		            placement : 'bottom',
		            html: 'true',
		            content : '<div style="width:300px;height:300px;"></div>',
		            animation: false
		        }).on("mouseenter", function () {
		            var _this = this;
		            $(this).popover("show");
		            $(this).siblings(".popover").on("mouseleave", function () {
		                $(_this).popover('hide');
		            });
		        }).on("mouseleave", function () {
		            var _this = this;
		            setTimeout(function () {
		                if (!$(".popover:hover").length) {
		                    $(_this).popover("hide")
		                }
		            }, 0);
		        });
				//课程分类展示 
				$(".category").popover({
		            trigger:'manual',
		            placement : 'right',
		            html: 'true',
		            content : '',
		            animation: false
		        }).on("mouseenter", function () {
		            var cid = $(this).attr('c-id');
		            $('#' + cid).show();
		            $('#' + cid).hover(function(){
		            	$('#' + cid).show();
		            },function(){
		            	$('#' + cid).hide();
					});
		        }).on("mouseleave", function () {
		            var cid = $(this).attr('c-id');
		            $('#' + cid).hide();
		        });
			});
		</script>
		<!-- 头部-end -->
		
		<!-- 登录注册-start -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog"  style="position:fixed; top:30%;">
		    <div class="modal-dialog" role="document">
		        <div class="modal-content">
		        
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		                    <span aria-hidden="true" style="font-size:18px;">×</span>
		                </button>
		                <h4 class="modal-title"  id="loginTitle"  style="float: left; color: #337Ab7;cursor: pointer; " onclick="login();">登 录</h4>
		                <h4 class="modal-title"  id="registeTitle"  style="float: left;margin-left: 20px;cursor: pointer;" onclick="registe();">注 册</h4>
		                <div class="clearfix"></div>
		            </div>
		            
		            <div class="modal-body">
		               	<form id="loginForm" class="form-horizontal" style="padding: 0px 20px;">
		                      <div class="form-group">
		                          <input type="email" class="form-control"  id="username"  placeholder="用户名">
		                      </div>
		                      <div class="form-group help">
		                          <input type="password" class="form-control"  id="password"  placeholder="密　码">
		                      </div>
		                      <div class="form-group">
		                          <label>
		                           <input type="checkbox" value="None" id="checkbox1" name="check">
		                           <span class="text" style="color: #787D82;font-size: 14px;">下次自动登录</span>
		                          </label>
		                      </div>
		                      
		                      <a href="javascript:void(0)">
		                      	<div class="header-login-btn">登 录</div>
		                      </a>
		                  </form>
		                  
		                   <form id="registeForm" class="form-horizontal" style="padding: 0px 20px;display: none;">
		                       <div class="form-group">
		                           <input type="email" class="form-control"  id="username"  placeholder="用户名">
		                       </div>
		                       <div class="form-group help">
		                           <input type="password" class="form-control"  id="password"  placeholder="密　码">
		                       </div>
		                       <a href="javascript:void(0)">
		                      	<div class="header-login-btn">注 册</div>
		                       </a>
		                   </form>
		                  
		            </div>
					
		        </div>
		    </div>
		</div>
		<!-- 登录注册-end -->


		<div class="f-main clearfix">
			<div class="main-course-left">
					<div class="course-info">
						<div class="course-title">{{ course.name }}</div>

						<div class="course-meta">
							<a href="${s.base}/course/video.html" class="learn-btn" >继续学习</a>

							<div class="static-item"  >
								<div class="meta">上次学到</div>
								<div class="meta-value">1-1 1-1 Bootstrap入门</div>
							</div>
							<div class="static-item"  >
								<div class="meta">学习人数</div>
								<div class="meta-value">{{ course.stu_nums }}</div>
							</div>
							<div class="static-item">
								<div class="meta">难度级别</div>
								<div class="meta-value">{{ course.get_degree_display }}</div>
							</div>
							<div class="static-item" style="border:none;">
								<div class="meta">课程时长</div>
								<div class="meta-value">{{ course.learn_times }}分</div>
							</div>
							<a onclick="doFollow(this,${(course.id)!})" href="javascript:void(0)" class="followed" style="float: right;margin-top:5px;" title="收藏">
							</a>
						</div>

						<div class="course-brief">
								{{ course.detail }}
						</div>

						<div class="course-menu">
							<a  href="{% url 'course:course_info' course.id %}"><span class="menu-item">章节</span></a>
							<a  href="{% url 'course:course_comments' course.id %}"><span class="menu-item cur">评论</span></a>
                            <a  href="{% url 'course:course_wiki' course.id %}"><span class="menu-item">Wiki</span></a>
						</div>
				</div>
				
				<!-- 评论-start -->
				<div>
                    {% for user_comments in all_comments %}
						<div class="comment clearfix">
							<div class="comment-header"><img class="lecturer-uimg" src="{{ MEDIA_URL }}{{ user_comments.user.image }}"></div>
							<div class="comment-main">
								<div class="user-name">{{ user_comments.user.username }}</div>
								<div class="comment-content">{{ user_comments.comments }}</div>
								<div class="comment-footer">时间：{{ user_comments.add_time }}
								</div>
							</div>
						</div>
                    {% endfor %}
				</div>
				<!-- 评论-end -->
			</div>
			
			
			<div class="main-course-right"  >
				<div class="lecturer-item" style="width: 100%;">
					<img class="lecturer-uimg" src="{{ MEDIA_URL }}{{ course.teacher.image }}">
					<span class="lecturer-name">{{ course.teacher.name }}</span>
					<span class="lecturer-title">{{ course.teacher.get_job_display }}</span>
					<span class="lecturer-p" >{{ course.teacher.points }}</span>
					<a href="javascript:void(0)" ><span class="follow-btn">关注+</span></a>
				</div>

                        <div class="course-info-tip">
                            <dl class="first">
                                <dt>课程须知</dt>
                                <dd class="autowrap">{{ course.you_need_know }}</dd>
                            </dl>
                            <dl>
                                <dt>老师告诉你能学到什么？</dt>
                                <dd class="autowrap">{{ course.teacher_tell }}</dd>
                            </dl>
                        </div>
                <h4 class="mt-50">课程资源</h4>
                 {% for course_resource in course_resources %}
				    <a href="{{ MEDIA_URL }}{{ course_resource.download }}" class="mb-5"><li class="ellipsis oc-color-hover">{{ course_resource.name }}</li></a>
                 {% endfor %}
                    </div>
			
		</div>
		
		<!-- 页脚-start -->
		<div class="f-footer">
			<div class="f-footer-box clearfix">
				<div class="footer-link">
					<a href="javascript:void(0);" target="_blank" title="联系我们">联系我们</a>
					<a href="javascript:void(0);" target="_blank" title="常见问题">常见问题</a>
					<a href="javascript:void(0);" target="_blank" title="意见反馈">意见反馈</a>
					<a href="javascript:void(0);" target="_blank" title="友情链接">友情链接</a>
				</div>
				<div class="footer-copyright">
					<span>©&nbsp;2019&nbsp; silentlight.tk </span>
				</div>
			</div>
		</div>
		<!-- 页脚-end-->
				
	</body>
	
</html>
