<!DOCTYPE html>
<html>
<head>
<title>Mooc Online -免费课程</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- 兼容移动设备 -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<!-- 让IE的文档渲染模式永远都是最新的 -->
<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
<meta http-equiv="Expires" content="0" />
<link rel="stylesheet" type="text/css" href="/static/css/common.css">
<link rel="stylesheet" type="text/css" href="/static/css/freecourse.css">
<link rel="stylesheet" type="text/css" href="/static/css/footer.css">
<style>
.menu .item a,.download,.shop-cart,.login a,.login{
	color: #9ca0a4;
}
.menu .item a:hover{
	color: #fff;
}
.menu .item a.menu-item-select{
	color: #fff;
}
.search-area{
	border-bottom: 1px solid #6a7076;
}
.search-input{
	color: #fff;
}

.blank{
    height: 180px;
}
</style>
    <!-- blank 没有搜索结果时中间留白 -->
</head>
<body>
	<!-- header菜单栏 -->
	<div class="header header-black">
		<a class="home" href="index.html" title="慕课网">
			<img src="/static/img/logo_196x106.png" alt="">
		</a>
		<ul class="menu">
			<li class="item"><a href="{% url 'course:course_list' %}" class=" menu-item-select">免费课程</a></li>
			<li class="item"><a href="shizhan.html">实战</a></li>
			<li class="item"><a href="ask.html">猿问</a></li>
			<li class="item"><a href="discovery.html">发现</a></li>
		</ul>
		<div class="search-area">
			<input class="search-input" type="text">
			<div class="search-btn"><i class="icon icon-search">&#xe63d;</i></div>
		</div>
		<ul class="header-unlogin clearfix">
			<li class="download">
				<a href="#">下载APP</a>
				<div class="download-detail">
					<img src="/static/img/appload.png" height='100%' alt="">
					<div class="load-wenzi">
						<p class="title">扫描下载慕课网APP</p>
						<p class="ios"><i class="icon">&#xe616;</i>App Store下载</p>
						<p class="android"><i class="icon">&#xe640;</i>Android下载</p>
					</div>
				</div>
			</li>
			<li class="shop-cart">
				<a href="#" class="dark">
					<i class="icon icon-cart">&#xe61d;</i>
					<span>购物车</span>
					<div class="shop-cart-detail">
						<p class="title"><object><a href="#" class="to-my-cart">我的购物车</a></object><span class="already">已加入0门课程</span></p>
						<div class="content">
							<span><i class="icon">&#xe61d;</i></span>
							<p>购物车空空如也</p>
							<span></span>
							<p>快去这里选购你中意的课程</p>
							<object><a href="#">实战课程</a></object>
							<object><a href="#">职业路径</a></object>
						</div>
						<p class="about-order"><object><a href="">我的订单中心</a></object><span>去购物车</span></p>
					</div>
				</a>
			</li>
			<li class="login">
				<a href="#">登录</a>
				/
				<a href="#">注册</a>
			</li>
		</ul>
	</div>
	<!-- 菜单栏 -->
	<div class="menu-content">
		<div class="menu-wrap">
			<div class="category clearfix">
				<div class="fangxiang">方向：</div>
				<div class="fangxiang-content">

                    <a href="?sort={{ sort }}&c1=&iseasy={{ is_easy }}" class="{% if c1 == '' or c1 is null %}menu-select{% endif %}">全部</a>

					<a href="?sort={{ sort }}&c1=前端开发&iseasy={{ is_easy }}" class="{% if c1 == '前端开发' %}menu-select{% endif %}">前端开发</a>

					<a href="?sort={{ sort }}&c1=后端开发&iseasy={{ is_easy }}" class="{% if c1 == '后端开发' %}menu-select{% endif %}">后端开发</a>

					<a href="?sort={{ sort }}&c1=算法&iseasy={{ is_easy }}" class="{% if c1 == '算法' %}menu-select{% endif %}">算法&amp;数学</a>

					<a href="?sort={{ sort }}&c1=运维&iseasy={{ is_easy }}" class="{% if c1 == '运维' %}menu-select{% endif %}">运维&amp;测试</a>

					<a href="?sort={{ sort }}&c1=数据库&iseasy={{ is_easy }}" class="{% if c1 == '数据库' %}menu-select{% endif %}">数据库</a>

				</div>
				
			</div>
			<div class="category clearfix">
				<div class="fangxiang">分类：</div>
				<div class="fangxiang-content">
					<a href="?sort={{ sort }}&c1={{ c1 }}&c2=&iseasy={{ is_easy }}" class="{% if c2 == '' or c2 is null %}menu-select{% endif %}" >全部</a>
                    {% if c1 == '前端开发' or c1 == '' or c1 is null %}
                        <a href="?sort={{ sort }}&c1={{ c1 }}&c2=HTMLCSS&iseasy={{ is_easy }}" class="{% if c2 == 'HTMLCSS'  %}menu-select{% endif %}">HTML/CSS</a>
					    <a href="?sort={{ sort }}&c1={{ c1 }}&c2=Bootstrap&iseasy={{ is_easy }}" class="{% if c2 == 'Bootstrap'  %}menu-select{% endif %}">Bootstrap</a>
                    {% endif %}
                    {% if c1 == '后端开发' or c1 == '' or c1 is null %}
					    <a href="?sort={{ sort }}&c1={{ c1 }}&c2=Java&iseasy={{ is_easy }}" class="{% if c2 == 'Java'  %}menu-select{% endif %}">Java</a>
                        <a href="?sort={{ sort }}&c1={{ c1 }}&c2=Python&iseasy={{ is_easy }}" class="{% if c2 == 'Python'  %}menu-select{% endif %}">Python</a>
                        <a href="?sort={{ sort }}&c1={{ c1 }}&c2=Django&iseasy={{ is_easy }}" class="{% if c2 == 'Django'  %}menu-select{% endif %}">Django</a>
                    {% endif %}
                    {% if c1 == '算法' or c1 == '' or c1 is null %}
                        <a href="?sort={{ sort }}&c1={{ c1 }}&c2=算法与数据结构&iseasy={{ is_easy }}" class="{% if c2 == '算法与数据结构'  %}menu-select{% endif %}">算法与数据结构</a>
                        <a href="?sort={{ sort }}&c1={{ c1 }}&c2=数学&iseasy={{ is_easy }}" class="{% if c2 == '数学'  %}menu-select{% endif %}">数学</a>
                    {% endif %}
                    {% if c1 == '运维' or c1 == '' or c1 is null %}
                        <a href="?sort={{ sort }}&c1={{ c1 }}&c2=Linux&iseasy={{ is_easy }}" class="{% if c2 == 'Linux'  %}menu-select{% endif %}">Linux</a>
                        <a href="?sort={{ sort }}&c1={{ c1 }}&c2=测试&iseasy={{ is_easy }}" class="{% if c2 == '测试'  %}menu-select{% endif %}">测试</a>
                    {% endif %}
                    {% if c1 == '数据库' or c1 == '' or c1 is null %}
                        <a href="?sort={{ sort }}&c1={{ c1 }}&c2=MySQL&iseasy={{ is_easy }}" class="{% if c2 == 'MySQL'  %}menu-select{% endif %}">MySQL</a>
                        <a href="?sort={{ sort }}&c1={{ c1 }}&c2=Oracle&iseasy={{ is_easy }}" class="{% if c2 == 'Oracle'  %}menu-select{% endif %}">Oracle</a>
                        <a href="?sort={{ sort }}&c1={{ c1 }}&c2=SQL Server&iseasy={{ is_easy }}" class="{% if c2 == 'SQL Server'  %}menu-select{% endif %}">SQL Server</a>
                    {% endif %}
				</div>
				
			</div>
		</div>
	</div>

	<!-- 具体内容 -->
	<div class="main-content">
		<div class="main-wrap">
			<div class="main-title">
				<div class="hot">
					<a href="?sort=last&c1={{ c1 }}&c2={{ c2 }}&iseasy={{ is_easy }}" class="{% if sort == "last" or sort is null or sort == '' %}
					a-select{% endif %}">最新</a>
					<a href="?sort=pop&c1={{ c1 }}&c2={{ c2 }}&iseasy={{ is_easy }}" {% ifequal sort 'pop' %}class="a-select"{% endifequal %}>最热</a>
				</div>
				<div class="page">
					<span class="page-wrap"><span>
                        {{ current_page }}
                    </span>/<span>{{ page_nums }}</span></span>
					<span class="left"><i class="icon">&#xe628;</i></span>
					<span class="right"><i class="icon">&#xe78b;</i></span>
				</div>
				<div class="difficuty">
					<span>难度：</span>	
					<a href="?sort={{ sort }}&c1={{ c1 }}&c2={{ c2 }}" {% if is_easy is null or is_easy == ''%}class="a-select"{% endif %}>全部</a>
					<a href="?sort={{ sort }}&c1={{ c1 }}&c2={{ c2 }}&is_easy=1" {% ifequal is_easy '1' %}class="a-select"{% endifequal %}>初级</a>
					<a href="?sort={{ sort }}&c1={{ c1 }}&c2={{ c2 }}&is_easy=2" {% ifequal is_easy '2' %}class="a-select"{% endifequal %}>中级</a>
					<a href="?sort={{ sort }}&c1={{ c1 }}&c2={{ c2 }}&is_easy=3" {% ifequal is_easy '3' %}class="a-select"{% endifequal %}>高级</a>
				</div>
			</div>
			<!-- 免费课程内容内容 -->
			<div class="courses clearfix">
                {% for course in all_courses.object_list %}
				<div class="course-card">
					<div class="course-img">
                        <a href="{% url "course:course_info" course.id %}">
						    <img src="{{ MEDIA_URL }}{{ course.image }}" alt="">
                        </a>
					</div>

                    <p class="course-name"> {{ course.name }}</p>

					<p class="course-count"><span>{{ course.get_degree_display }}</span><i class="icon">&#xe646;</i><span>{{ course.stu_nums }}</span></p>
					<p class="course-desc">{{ course.desc }}</p>
				</div>
                {% endfor %}
			</div>

            {% if page_nums == 0 %}
                <div class="courses clearfix">
                    <div class="blank">

                    </div>
                </div>
            {% endif %}


			<!-- 分页 -->
            {% if page_nums > 1 %}
			<div class="pagenation">
                 {% if all_courses.has_previous %}
                    <span><a href="?{{ all_courses.previous_page_number.querystring }}">上一页</a></span>
                {% endif %}
                {% for page in all_courses.pages %}
                    {% if page %}
                    {% ifequal page page_obj.number %}
                        <span class="num page-select"><a href="?{{ page.querystring }}">{{ page }}</a></span>
                    {% else %}
                        <span class="num"><a href="?{{ page.querystring }}">{{ page }}</a></span>
                    {% endifequal %}
                    {% else %}
                        <span class="num"><a href="">...</a></span>
                    {% endif %}
                {% endfor %}

                {% if all_courses.has_next %}
                    <span><a href="?{{ all_courses.next_page_number.querystring }}">下一页</a></span>
                {% endif %}
			</div>
        {% endif %}
		</div>

	

	</div>
	<!-- footer -->
	<div class="footer footer-black">
		<div class="footer-wrap">
			<div class="blog">
				<div class="mr22 chat">
					
				</div>
			</div>
			<div class="footer-links links-white">
				<a href="#">企业合作</a>
				<a href="#">人才招聘</a>
				<a href="#">联系我们</a>
				<a href="#">讲师招聘</a>
				<a href="#">常见问题</a>
				<a href="#">意见反馈</a>
				<a href="#">友情链接</a>
			</div>
			<p>© 2018 imooc.com</p>
		</div>
	</div>
	<!-- 侧边栏 -->
	<div class="info">
		<div class="info-wrap">
			<div class="info-block b"><i class="icon">&#xe61e;</i></div>
			<div class="info-block b"><i class="icon">&#xe619;</i></div>
			<div class="info-block b"><i class="icon">&#xe61a;</i>
		
			</div>
			<div class="info-block"><i class="icon">&#xe62b;</i>
				
			</div>
		</div>
		
	</div>
</body>
<script type="text/javascript" src="/static/js/jquery-3.2.0.min.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
</html>