<!DOCTYPE html>
<html>
<head>
<title>慕课网-程序员的梦工厂</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- 兼容移动设备 -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<!-- 让IE的文档渲染模式永远都是最新的 -->
<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
<meta http-equiv="Expires" content="0" />
<link rel="stylesheet" type="text/css" href="/static/css/swiper-3.4.2.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/common.css">
<link rel="stylesheet" type="text/css" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/style/common.css" />
</head>
<body>
	<!-- header菜单栏 -->
	<div class="header header-white">
		<a class="home" href="{% url 'index' %}" title="Mooc Online">
			<img src="/static/img/logo_196x106.png" alt="">
		</a>
		<ul class="menu">
			<li class="item"><a href="{% url 'course:course_list' %}">免费课程</a></li>
			<li class="item"><a href="shizhan.html">实战</a></li>
			<li class="item"><a href="discovery.html">发现</a></li>
		</ul>
		<div class="search-area">
			<input class="search-input" type="text">
			<div class="search-btn"><i class="icon icon-search">&#xe63d;</i></div>
		</div>
		<ul class="header-unlogin clearfix">
			<li class="shop-cart">
				<i class="icon icon-cart">&#xe61d;</i>
				<span>购物车</span>
				<div class="shop-cart-detail hide">
					<p class="title"><span>我的购物车</span><span>已加入0门课程</span></p>
					<div class="content">
						<span><i class="icon">&#xe61d;</i></span>
						<p>购物车空空如也</p>
						<span></span>
						<p>快去这里选购你中意的课程</p>
						<a href="#">实战课程</a>
						<a href="#">职业路径</a>
					</div>
					<p class="about-order"><a href="">我的订单中心</a><span>去购物车</span></p>
				</div>
			</li>
            <!--
			<li class="login">
				<a href="{% url 'login' %}">登录</a>

				<a href="{% url 'register' %}">注册</a>
			</li>
			-->
             <li class="user-card-box fl">
                        <a href="" class="user-card-item tc">
                            <img src="/static/images/use-card.jpg" alt="" class="vm" />
                        </a>
                        <div class="g-user-card">
                            <div class="card-inner">
                                <div class="card-top">
                                    <a href="">
                                        <img src="/static/images/use-card.jpg" alt="" />
                                    </a>
                                    <div class="card-top-right-box">
                                        <a href="" class="name">cnlylove</a>
                                        <p class="meta clearfix">
                                            <a href="">经验 <b id="js-user-mp">30</b></a>
                                            <a href=""> 积分 <b id="js-user-credit">0</b></a>
                                        </p>
                                    </div>
                                </div>
                                <div class="user-center-box">
                                    <ul class="clearfix">
                                        <li>
                                            <a href="">
                                                <span class="iconfont icon-gaojing">&#xe603;</span>
                                                &nbsp;我的课程
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="iconfont icon-gaojing">&#xe603;</span>
                                                &nbsp;我的课程
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="iconfont icon-gaojing">&#xe603;</span>
                                                &nbsp;我的课程
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="iconfont icon-gaojing">&#xe603;</span>
                                                &nbsp;我的课程
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-history">
                                    <div class="history-item">
                                        <p class="tit">CSS深入理解之vertical-align</p>
                                        <p>CSS深入理解之vertical-alignjjinhgyft</p>
                                        <a href="" class="go-cart">继续</a>
                                    </div>
                                    <span class="iconfont icon-clock">&#xe61b;</span>
                                </div>
                                <p class="card-sets">
                                    <a href="">安全退出</a>
                                </p>
                            </div>
                        </div>
                    </li>


		</ul>
	</div>
	<!-- banner -->
    <div class="banner">
		<div class="banner-wrap">
				<div class="banner-img">
					<div class="swiper-wrapper">
			            <div class="swiper-slide" data-swiper-autoplay="3000" style="background-image:url(/static/img/lunbo1.jpg)"></div>
			            <div class="swiper-slide" data-swiper-autoplay="3000" style="background-image:url(/static/img/lunbo2.jpg)"></div>
			            <div class="swiper-slide" data-swiper-autoplay="3000" style="background-image:url(/static/img/lunbo3.jpg)"></div>
			            <div class="swiper-slide" data-swiper-autoplay="3000" style="background-image:url(/static/img/lunbo4.jpg)"></div>
			            <div class="swiper-slide" data-swiper-autoplay="3000" style="background-image:url(/static/img/lunbo5.jpg)"></div>
			            <div class="swiper-slide" data-swiper-autoplay="3000" style="background-image:url(/static/img/lunbo.jpg)"></div>
			        </div>
			        <!-- Add Pagination -->
			        <div class="swiper-pagination swiper-pagination-white"></div>
			        <!-- Add Arrows -->
			        <div class="swiper-button-next swiper-button-white"></div>
			        <div class="swiper-button-prev swiper-button-white"></div>
				</div>
		</div>
	</div>
	
	<!-- 实战推荐 -->
	<div class="shizhan">
		<div class="shizhan-wrap">
			<h3 class="shizhan-title">
				<span class="i-shizhan-l"></span>
				<em>实</em>/<em>战</em>/<em>推</em>/<em>荐</em>
				<span class="i-shizhan-r"></span>
			</h3>
			<div class="shizhan-content">
				<a href="#" class="content-item mr18">
					<div class="img">
						<span class="tag">Python</span>
						<img src="/static/img/shizhan1.jpg" alt="">
					</div>
					<p class="shizhan-desc">全网最热Python3入门+进阶 更快上手实际开发</p>
					<div class="card-info">
						<span>实战</span>
						<span>初级</span>
						<span><i class="icon icon-user">&#xe646;</i>2289</span>	
						<span style="margin-right: 0px;color: #ff9900;"><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i></span>
					</div>
					<p class="price">￥366.00</p>
				</a>
				<a href="#" class="content-item mr18">
					<div class="img">
						<span class="tag">Java</span>
						<img src="/static/img/shizhan2.jpg" alt="">
					</div>
					<p class="shizhan-desc">Java企业级电商项目架构演进之路 Tomcat集群与Redis分布式</p>
					<div class="card-info">
						<span>实战</span>
						<span>初级</span>
						<span><i class="icon icon-user">&#xe646;</i>517</span>	
						<span style="margin-right: 0px;color: #ff9900;"><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i></span>
					</div>
					<p class="price">￥399.00</p>
				</a>
				<a href="#" class="content-item mr18">
					<div class="img">
						<span class="tag">Java</span>
						<img src="/static/img/shizhan3.jpg" alt="">
					</div>
					<p class="shizhan-desc">Java深入微服务原理该着房产销售平台</p>
					<div class="card-info">
						<span>实战</span>
						<span>初级</span>
						<span><i class="icon icon-user">&#xe646;</i>81</span>	
						<span style="margin-right: 0px;color: #ff9900;"><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i></span>
					</div>
					<p class="price">￥366.00</p>
				</a>
				<a href="#" class="content-item mr18">
					<div class="img">
						<span class="tag">HTML/CSS</span>
						<img src="/static/img/shizhan4.jpg" alt="">
					</div>
					<p class="shizhan-desc">前端跳槽面试必备技巧</p>
					<div class="card-info">
						<span>实战</span>
						<span>初级</span>
						<span><i class="icon icon-user">&#xe646;</i>2289</span>	
						<span style="margin-right: 0px;color: #ff9900;"><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i></span>
					</div>
					<p class="price">￥366.00</p>
				</a>
				<a href="#" class="content-item">
					<div class="img">
						<span class="tag">Java</span>
						<img src="/static/img/shizhan5.jpg" alt="">
					</div>
					<p class="shizhan-desc">Spring Boot企业微信点餐系统</p>
					<div class="card-info">
						<span>实战</span>
						<span>初级</span>
						<span><i class="icon icon-user">&#xe646;</i>2289</span>	
						<span style="margin-right: 0px;color: #ff9900;"><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i></span>
					</div>
					<p class="price">￥348.00</p>
				</a>
			</div>
		</div>
	</div>
	<!-- 新上好课 -->
	<div class="newcourse">
		<div class="newcourse-wrap">
			<h3 class="newcourse-title">
				<span class="i-newcourse-l"></span>
				<em>新</em>/<em>上</em>/<em>好</em>/<em>课</em>
				<span class="i-newcourse-r"></span>
			</h3>
			<div class="newcourse-content">
				<div class="line-content clearfix">
					<a href="#" class="content-item mr18">
						<div class="img">
							<span class="tag">Python</span>
							<img src="/static/img/shizhan1.jpg" alt="">
						</div>
						<p class="shizhan-desc">全网最热Python3入门+进阶 更快上手实际开发</p>
						<div class="card-info">
							<span>实战</span>
							<span>初级</span>
							<span><i class="icon icon-user">&#xe646;</i>2289</span>	
							<span style="margin-right: 0px;color: #ff9900;"><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i></span>
						</div>
						<p class="price">￥366.00</p>
					</a>
					<a href="#" class="content-item mr18">
						<div class="img">
							<span class="tag">Java</span>
							<img src="/static/img/shizhan2.jpg" alt="">
						</div>
						<p class="shizhan-desc">Java企业级电商项目架构演进之路 Tomcat集群与Redis分布式</p>
						<div class="card-info">
							<span>实战</span>
							<span>初级</span>
							<span><i class="icon icon-user">&#xe646;</i>517</span>	
							<span style="margin-right: 0px;color: #ff9900;"><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i></span>
						</div>
						<p class="price">￥399.00</p>
					</a>
					<a href="#" class="content-item mr18">
						<div class="img">
							<span class="tag">Java</span>
							<img src="/static/img/shizhan3.jpg" alt="">
						</div>
						<p class="shizhan-desc">Java深入微服务原理该着房产销售平台</p>
						<div class="card-info">
							<span>实战</span>
							<span>初级</span>
							<span><i class="icon icon-user">&#xe646;</i>81</span>	
							<span style="margin-right: 0px;color: #ff9900;"><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i></span>
						</div>
						<p class="price">￥366.00</p>
					</a>
					<a href="#" class="content-item mr18">
						<div class="img">
							<span class="tag">HTML/CSS</span>
							<img src="/static/img/shizhan4.jpg" alt="">
						</div>
						<p class="shizhan-desc">前端跳槽面试必备技巧</p>
						<div class="card-info">
							<span>实战</span>
							<span>初级</span>
							<span><i class="icon icon-user">&#xe646;</i>2289</span>	
							<span style="margin-right: 0px;color: #ff9900;"><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i></span>
						</div>
						<p class="price">￥366.00</p>
					</a>
					<a href="#" class="content-item">
						<div class="img">
							<span class="tag">Java</span>
							<img src="/static/img/shizhan5.jpg" alt="">
						</div>
						<p class="shizhan-desc">Spring Boot企业微信点餐系统</p>
						<div class="card-info">
							<span>实战</span>
							<span>初级</span>
							<span><i class="icon icon-user">&#xe646;</i>2289</span>	
							<span style="margin-right: 0px;color: #ff9900;"><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i></span>
						</div>
						<p class="price">￥348.00</p>
					</a>
				</div>
				<div class="line-content clearfix">
					<a href="#" class="content-item mr18">
					<div class="img">
						<span class="tag">Python</span>
						<img src="/static/img/shizhan1.jpg" alt="">
					</div>
					<p class="shizhan-desc">全网最热Python3入门+进阶 更快上手实际开发</p>
					<div class="card-info">
						<span>实战</span>
						<span>初级</span>
						<span><i class="icon icon-user">&#xe646;</i>2289</span>	
						<span style="margin-right: 0px;color: #ff9900;"><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i></span>
					</div>
					<p class="price">￥366.00</p>
					</a>
					<a href="#" class="content-item mr18">
						<div class="img">
							<span class="tag">Java</span>
							<img src="/static/img/shizhan2.jpg" alt="">
						</div>
						<p class="shizhan-desc">Java企业级电商项目架构演进之路 Tomcat集群与Redis分布式</p>
						<div class="card-info">
							<span>实战</span>
							<span>初级</span>
							<span><i class="icon icon-user">&#xe646;</i>517</span>	
							<span style="margin-right: 0px;color: #ff9900;"><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i></span>
						</div>
						<p class="price">￥399.00</p>
					</a>
					<a href="#" class="content-item mr18">
						<div class="img">
							<span class="tag">Java</span>
							<img src="/static/img/shizhan3.jpg" alt="">
						</div>
						<p class="shizhan-desc">Java深入微服务原理该着房产销售平台</p>
						<div class="card-info">
							<span>实战</span>
							<span>初级</span>
							<span><i class="icon icon-user">&#xe646;</i>81</span>	
							<span style="margin-right: 0px;color: #ff9900;"><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i></span>
						</div>
						<p class="price">￥366.00</p>
					</a>
					<a href="#" class="content-item mr18">
						<div class="img">
							<span class="tag">HTML/CSS</span>
							<img src="/static/img/shizhan4.jpg" alt="">
						</div>
						<p class="shizhan-desc">前端跳槽面试必备技巧</p>
						<div class="card-info">
							<span>实战</span>
							<span>初级</span>
							<span><i class="icon icon-user">&#xe646;</i>2289</span>	
							<span style="margin-right: 0px;color: #ff9900;"><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i></span>
						</div>
						<p class="price">￥366.00</p>
					</a>
					<a href="#" class="content-item">
						<div class="img">
							<span class="tag">Java</span>
							<img src="/static/img/shizhan5.jpg" alt="">
						</div>
						<p class="shizhan-desc">Spring Boot企业微信点餐系统</p>
						<div class="card-info">
							<span>实战</span>
							<span>初级</span>
							<span><i class="icon icon-user">&#xe646;</i>2289</span>	
							<span style="margin-right: 0px;color: #ff9900;"><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i><i class="icon icon-star">&#xe676;</i></span>
						</div>
						<p class="price">￥348.00</p>
					</a>
				</div>
			</div>
		</div>
	</div>
    

	<!-- footer -->
	<div class="footer">
		<div class="footer-wrap">
			<div class="blog">
				<div class="mr22 chat">
					
				</div>
			</div>
			<div class="footer-links">
				<a href="">联系我们</a>
				<a href="">讲师招聘</a>
				<a href="">常见问题</a>
				<a href="">意见反馈</a>
				<a href="">友情链接</a>
			</div>
			<p>© 2018 imooc.com</p>
		</div>
	</div>


<script type="text/javascript" src="/static/js/jquery-3.2.0.min.js"></script>
<script type="text/javascript" src="/static/js/swiper-3.4.2.min.js"></script>
<script type="text/javascript" src="/static/js/index.js"></script>
</body>
</html>





