<!DOCTYPE html>
<html>
<head>
    <title>登录 - 慕课在线</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/froala-design-blocks/2.0.0/css/froala_blocks.min.css">
</head>

<body>



<!-- 登录  -->
<section class="fdb-block">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-7 col-xl-5 text-center">
                <form action="/login/" method="post" autocomplete="off">        <!-- 关闭自动填充 -->
                    <div class="fdb-box">
                        <div class="row">
                            <div class="col">
                                <h1>Mooc Online</h1>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col">
                                <input name="username" type="text" class="form-control" placeholder="用户名/邮箱">
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col">
                                <input name="password" type="password" class="form-control" placeholder="密码">
                                <p class="text-right"><a href="">找回密码</a></p>
                            </div>
                        </div>

                        {% if msg %}
                            <div class="alert alert-danger" role="alert" id="login_fail">
                                <a href="#" class="close" data-dismiss="alert">
                                    &times;
                                </a>
                                <strong>{{ msg }}</strong>
                            </div>
                        {% endif %}
                        {% if active_success_msg %}
                            <div class="alert alert-success" role="alert" id="active_success_">
                                <a href="#" class="close" data-dismiss="alert">
                                    &times;
                                </a>
                                <strong>{{ active_success_msg }}</strong>
                            </div>
                        {% endif %}

                        <div class="row mt-4">
                            <div class="col">
                                <input class="btn btn-primary" type="submit" value="立即登录" />
                            </div>
                        </div>
                    </div>
                    {% csrf_token %}
                </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Insert HTML for Design Blocks. -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/static/js/bootstrap.js"></script>
</body>
</html>