<!DOCTYPE html>
<html>
<head>
    <title>注册 - Mooc Online</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/froala-design-blocks/2.0.0/css/froala_blocks.min.css">
</head>

<body>



<<section class="fdb-block">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg-7 col-xl-5 text-center">
                <form id="signupForm" action="/register/" method="post" autocomplete="off">        <!-- 关闭自动填充 -->
                    <div class="fdb-box">
                        <div class="row">
                            <div class="col">
                                <h1>注册</h1>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col">
                                <input name="username" type="text" class="form-control" placeholder="用户名">
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col">
                                <input name="email" type="email" class="form-control" placeholder="邮箱">
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col">
                                <input name="password" type="password" class="form-control" placeholder="密码">
                                <p class="text-right"><a href="{% url 'login' %}">已经有账号了？</a></p>
                            </div>
                        </div>

                        {% if msg %}
                            <div class="alert alert-danger" role="alert" id="register_fail">
                                <a href="#" class="close" data-dismiss="alert">
                                    &times;
                                </a>
                                <strong>{{ msg }}</strong>
                            </div>
                        {% endif %}


                        <div class="row mt-4">
                            <div class="col">
                                <input class="btn btn-primary" type="submit" value="提交" />
                            </div>
                        </div>
                    </div>
                    {% csrf_token %}
                </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Insert HTML for Design Blocks. -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/jquery-v1.10.2.js"></script>
<script type="text/javascript" src="/static/jquery.validation/1.14.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="/static/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/static/jquery.validation/1.14.0/messages_zh.min.js"></script>
<script type="text/javascript">
    $().ready(function() {
    // 在键盘按下并释放及提交后验证提交表单
      $("#signupForm").validate({
        rules: {
          firstname: "required",
          lastname: "required",
          username: {
            required: true,
            minlength: 2
          },
          password: {
            required: true,
            minlength: 5
          },
          confirm_password: {
            required: true,
            minlength: 5,
            equalTo: "#password"
          },
          email: {
            required: true,
            email: true
          },
          topic: {
            required: "#newsletter:checked",
            minlength: 2
          },
          agree: "required"
        },
        messages: {
          firstname: "请输入您的名字",
          lastname: "请输入您的姓氏",
          username: {
            required: "请输入用户名",
            minlength: "用户名长度不得小于2位"
          },
          password: {
            required: "请输入密码",
            minlength: "密码长度不能小于 5 个字母"
          },
          confirm_password: {
            required: "请输入密码",
            minlength: "密码长度不能小于 5 个字母",
            equalTo: "两次密码输入不一致"
          },
          email: "请输入一个正确的邮箱",
          agree: "请接受我们的声明",
          topic: "请选择两个主题"
         }
        })
    });
</script>
</body>
</html>